
/* Desktop First, empezar del MQ mas alto */

.burger-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
  display: none;
  line-height: 40px;
  text-align: center;
  position: fixed; 
  z-index: 5;
  left: 5px;
  top: 5px;
  color: white;
}

@media screen and (max-width: 1024px){
  .hero {
      height: auto;
      position: relative;
      overflow: hidden;
      padding: 2em;
  }
  .hero-image {
      position: absolute;
      z-index: 1;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
  }
  h1 {
      font-size: 2em;
      z-index: 2;
  }
}

@media screen and (max-width: 767px) {
  .event-list-title {
      margin-left: 0;
  }
  .burger-button {
      display: block;
  }
  h2 {
      font-size: 1.2em;
      margin: .2em 0;
  }
  .portfolio {
      padding: 5px;
  }
  .header {
      display: block;
      height: auto;
      position: initial;
  }
  .header ol {
      display: block;
  }
  .header ol li {
      height: 50px;
  }
  .header a {
      justify-content: center;
      height: 40px;
      font-size: 2em;
      text-decoration: underline;
      margin-bottom: .5em;
  }
  .header .logo {
      text-align: center;
  }
  .menu {
      position: fixed;
      background: rgba(5, 111, 255, .9);;
      z-index: 4;
      top: 0;
      left: -100vw;
      bottom: 0;
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: .3s;
  }
  .menu.is-active {
      left: 0;
  }
  .project {
      display: block;
  }
  .project-imageContainer {
      text-align: center;
      width: auto;
  }
  .project-details{
      width: auto;
  }
  .project-course, .project-date, .project-url {
      margin: .4em 0;
  }
  .project-title {
      font-size: 1.5em;
      margin-bottom: .3em;
  }
  .project-url {
      font-size: 1em;
  }
  .project-course {
      font-size: .7em;
  }
  .project-date {
      font-size: 1em;
  }
  .project-description {
      font-size: 1.1em;
  }
  .event {
      width: auto;
      flex-shrink: initial;
  }
  .event img {
      width: 100%;
  }
}

@media screen and (max-width: 540px){
  .contact {
      height: auto;
      padding: 1.5em 0;
      text-align: center;
      display: block;
  }
  .contact-email button {
      margin: 1em auto;
  }
  .contact-email {
      margin-top: 0;
  }
  .footer {
      display: block;
      text-align: center;
      border: 1px solid transparent;
  }
}

@media screen and (max-width: 480px){
  h1 {
      font-size: 1.5em;
  }
  .project-details {
      font-size: 14px;
  }
  .event-detail {
      margin: -2em .5em .5em;
      padding: 1em;
  }
}

@media screen and (max-width: 320px){
  h1{
      font-size: 1.2em;
  }
  .hero {
      padding: 2em 1em;
  }
}