.event img {
    width: 480px;
    height: 200px;
    object-fit: cover;
  }
  
.event-detail {
  margin: 20px 40px;
  margin-top: -40px;
  background-color: white;
  position: relative;
  padding: 20px;
  text-align: center;
}

.event-description {
  text-align: left;
}

.event-url {
  border: 1px solid;
  padding: 5px 20px;
  text-decoration: none;
  color: #056fff;
  border-radius: 5px; 
}
.event-list {
  display: flex;
  flex-wrap: wrap;
}

.event-list-title {
  margin-left: 20px;
}

.event {
  margin: 1%;
  width: 48%;
  flex-shrink: 0; 
  border-radius: 10px;
  overflow: hidden; 
  background: #f4fbff;
}

@media screen and (max-width: 767px) {
  .event-list-title {
    margin-left: 0;
  }

  .event {
    width: auto;
    flex-shrink: initial;
  }

  .event img {
      width: 100%;
  }
}

@media screen and (max-width: 480px){
  .event-detail {
    margin: -2em .5em .5em;
    padding: 1em;
  }
}