.contact {
    background-color: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .social a{
    color: white;
    margin-right: 1em; 
    text-decoration: none;
  }
  
  .social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
  }
  
  .social-link.twitter {
    background-image: url('./images/twitter.svg');
    background-size: 50px 50px; 
  }
  
  .social-link.facebook {
    background-image: url('./images/facebook.svg');
    background-size: 50px 50px; 
  }
  
  .social-link.github {
    background-image: url('./images/github.svg');
    background-size: 50px 50px; 
  }
  
  .social-link.instagram {
    background-image: url('./images/instagram.svg');
    background-size: 50px 50px; 
  }
  
  .contact-email input{
    border-color: gray;
    border-style: solid;
    padding: 10px 20px 10px 25px;
    border-radius: 5px; 
    background-image: url('./images/envelope.svg');
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position-y: center;  
    background-position-x: 5px;
  }
  
  .contact-email button{
    display: block;
    margin-top: 10px;
    background: transparent;
    color: white;
    padding: 10px 0;
    border-style:solid; 
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
  }
  
  .contact-email h3 {
    font-family: 'Source Sans Pro', sans-serif;
  }

  @media screen and (max-width: 540px){
    .contact {
        height: auto;
        padding: 1.5em 0;
        text-align: center;
        display: block;
    }
    .contact-email button {
        margin: 1em auto;
    }
    .contact-email {
        margin-top: 0;
    }
  }