.header {
    background-color: black;
    color: white;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 3;
}
  
.menu {
    height: inherit;
}

ol,ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure{
    margin: 0;
}
  

.header a{
    color: white; 
    text-decoration: none;
}

.header ol {
    height: inherit;
    display: flex;
}

.header ol li {
    height: inherit;
}

.header a {
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
}