.portfolio{
    background-color: transparent;
    padding: 20px; 
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info img {
    height: 60px;
    margin-bottom: 14px;
}

.react-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 18em;
}

@media screen and (max-width: 767px){
    .first-title {
        font-size: 1.2em;
        margin: .2em 0;
        text-align: end;
        width: 100%;
    }
}
